  
version: '3.9'
services:
  db:
    image: postgres:15
    container_name: clips-genie-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: clips-genie
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - app-network
  
  # Redis for job queuing
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app-network
  
  api:
    build:
      context: .
      dockerfile: ./backend/api/Dockerfile
    entrypoint: ["/bin/bash", "./start.sh"]
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/clips-genie
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./backend/api:/app
      - ./shared:/app/shared
      - ./prisma:/app/prisma
      - ./tsconfig.docker.json:/app/tsconfig.json:ro
      - ./package.docker.json:/app/package.json:ro

  clip-worker:
    build:
      context: .
      dockerfile: ./backend/workers/clip-worker/Dockerfile
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    entrypoint: ["/bin/sh", "./start.sh"]
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./backend/workers/clip-worker:/app
      - ./shared:/app/shared
      - ./prisma:/app/prisma
      - ./tsconfig.docker.json:/app/tsconfig.json:ro
      - ./package.docker.json:/app/package.json:ro
  
  clip-metadata-worker:
    build:
      context: .
      dockerfile: ./backend/workers/clip-worker/Dockerfile
    entrypoint: ["/bin/bash", "./start.sh"]
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./backend/workers/clip-metadata-worker:/app
      - ./shared:/app/shared
      - ./prisma:/app/prisma
      - ./tsconfig.docker.json:/app/tsconfig.json:ro
      - ./package.docker.json:/app/package.json:ro

  video-download-worker:
    build:
      context: .
      dockerfile: ./backend/workers/video-download-worker/Dockerfile
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db
    entrypoint: ["/bin/sh", "./start.sh"]
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./backend/workers/video-download-worker:/app
      - ./shared:/app/shared
      - ./prisma:/app/prisma
      - ./tsconfig.docker.json:/app/tsconfig.json:ro
      - ./package.docker.json:/app/package.json:ro
  
  transcription-worker:
    build:
      context: .
      dockerfile: ./backend/workers/transcription-worker/Dockerfile
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db
    entrypoint: ["/bin/sh", "./start.sh"]
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./backend/workers/transcription-worker:/app
      - ./shared:/app/shared
      - ./prisma:/app/prisma
      - ./tsconfig.docker.json:/app/tsconfig.json:ro
      - ./package.docker.json:/app/package.json:ro

  poller-worker:
    build:
      context: .
      dockerfile: ./backend/workers/poller-worker/Dockerfile
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db
    entrypoint: ["/bin/bash", "./start.sh"]
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./backend/workers/poller-worker:/app
      - ./shared:/app/shared
      - ./prisma:/app/prisma
      - ./tsconfig.docker.json:/app/tsconfig.json:ro
      - ./package.docker.json:/app/package.json:ro


  # Faster Whisper for transcription
  faster-whisper:
    image: lscr.io/linuxserver/faster-whisper:latest
    container_name: faster-whisper
    environment:
      - TZ=Etc/UTC
      - WHISPER_MODEL=tiny-int8
      - WHISPER_LANG=en
    volumes:
      - ./faster-whisper-data:/config
    ports:
      - '10300:10300'
    restart: unless-stopped
    networks:
      - app-network

  # Ollama for language model processing
  ollama:
    build:
      context: .
      dockerfile: ./backend/workers/ollama-worker/Dockerfile
    container_name: ollama
    volumes:
      - ./backend/workers/ollama-worker/scripts/start-ollama.sh:/start.sh
      - ollama-data:/root/.ollama
    entrypoint: ["/bin/bash", "/start.sh"]
    ports:
      - "11434:11434"
    restart: unless-stopped
    networks:
      - app-network

volumes:
  ollama-data:
  faster-whisper-data:
  pg-data:

networks:
  app-network: